/* White background for the homepage */
.home {
    background-color: #f3f3f3;
    height: 100vh;
  }
  
  /* Header styling */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  /* Logo styling (left side of the header) */
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  /* Register button (right side of the header) */
  .register-button {
    background-color: #5f8746;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }
  